@charset "utf-8";


/*全体の設定
---------------------------------------------------------------------------*/
body {
	color: #666;	/*全体の文字色*/
	background-color: #FFF;	/*全体の背景色*/
	background-image: url(../images/bg.gif);	/*背景画像の読み込み*/
	margin: 0px;
	padding: 0px;
	font: 14px/2 "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";	/*文字サイズ/行間、フォントファミリー*/
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure{
	margin: 0px;
	padding: 0px;
}
ul{
	list-style-type: none;
}
img {
	border: none;
	vertical-align: bottom;
}
input,textarea,select {
	font-size: 1em;
}
form {
	margin: 0px;
}
table {
	border-collapse:collapse;
	font-size: 100%;
	border-spacing: 0;
}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #666;	/*リンクテキストの色*/
}
a:hover {
	color: #182659;			/*マウスオン時の文字色*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*コンテナー（HPを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	width: 989px;	/*コンテナー幅*/
	margin: 0px auto;
	background: #FFF;	/*背景色*/
	border-top: 5px solid #182659;		/*上の線の幅、線種、色*/
	border-right: 1px solid #d2d2d2;	/*右の線の幅、線種、色*/
	border-bottom: 1px solid #d2d2d2;	/*下の線の幅、線種、色*/
	border-left: 1px solid #d2d2d2;		/*左の線の幅、線種、色*/
}

/*ヘッダー（サイト名ロゴが入ったブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	height: 80px;	/*ヘッダーの高さ*/
	width: 100%;	/*ヘッダーの幅*/
	position: relative;
}
/*h1タグの設定*/
header h1 {
	font-size: 9px;		/*文字サイズ*/
	line-height: 10px;	/*行間*/
	position: absolute;
	top: 34px;			/*ヘッダーブロックに対して上から34pxの位置に配置*/
	right: 0px;			/*ヘッダーブロックに対して右から0pxの位置に配置*/
	font-weight: normal;	/*hタグのデフォルトの太字を標準に。太字がいいならこの１行削除。*/
	color: #999;	/*文字色*/
}
/*ロゴ画像の設定*/
header #logo {
	position: absolute;
	left: 20px;	/*ヘッダーブロックに対して左から20pxの位置に配置*/
	top: 24px;	/*ヘッダーブロックに対して上から24pxの位置に配置*/
}

/*上部のメインメニュー
---------------------------------------------------------------------------*/
/*メニュー１個ごとの設定*/
nav#menubar ul li {
	float: left;
	width: 164px;	/*幅*/
	border-top: 1px solid #d2d2d2;		/*上の線の幅、線種、色*/
	border-bottom: 1px solid #d2d2d2;	/*下の線の幅、線種、色*/
	border-left: 1px solid #d2d2d2;		/*左側の線の幅、線種、色*/
}
nav#menubar ul li a {
	height: 46px;	/*高さ*/
	padding-top: 12px;
	line-height: 1.4;
	text-decoration: none;
	display: block;
	font-size: 14px;	/*文字サイズ*/
	font-weight: bold;	/*文字を太字にする設定。通常がいいならこの１行削除。*/
	letter-spacing: 0.1em;		/*文字間隔を少し広めにとる設定。*/
	text-align: center;	/*文字をセンタリング*/
	background-color: #fff;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));	/*グラデーション*/
	background-image: -webkit-linear-gradient(#fff, #e5e5e5);	/*同上*/
	background-image: linear-gradient(#fff, #e5e5e5);			/*同上*/
}
/*最初のメニューの設定*/
nav#menubar ul li:first-child {
	border-left: none;	/*左側の線を消す設定*/
}
/*マウスオン時と、current(表示中のメニュー)の設定*/
nav#menubar ul li a:hover,
nav#menubar ul li#current a {
	background: #e7e9ee url(../images/menu_bg_on.png) no-repeat left center;	/*背景色、背景画像の読み込み*/
}
/*英語表記の設定*/
nav#menubar ul li a span {
	font-size: 9px;	/*文字サイズ*/
	display: block;
	font-weight: normal;
	color: #182659;			/*文字色*/
}

/*トップページのスライドショー
---------------------------------------------------------------------------*/
#mainimg {
	clear: left;
	width: 100%;
	height: auto;
	position: relative;
}
#mainimg .slide_file {
	display: none;
}
#slide_image {
	z-Index:2;
	height: auto;
	width: 100%;
	position: relative;
}
#slide_image2 {
	z-Index:1;
	height: auto;
	width: 100%;
	position: absolute;
	left:0px;
	top:0px;
}

/*コンテンツ（main,subを囲むブロック）
---------------------------------------------------------------------------*/
#contents {
	clear: left;
	width: 950px;	/*コンテンツ幅*/
	padding-top: 30px;
	margin: 0px auto;
}

/*メインコンテンツ
---------------------------------------------------------------------------*/
#main {
	float: right;	/*右側に回り込み*/
	width: 700px;	/*メインコンテンツ幅*/
	padding-bottom: 30px;
}
/*mainコンテンツのh2タグの設定*/
#main h2 {
	background-color: #101a42;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background: url(../images/midashi_bg1.png) no-repeat left center, -webkit-gradient(linear, left top, left bottom, from(#2b3e72), to(#101a42));	/*背景画像の読み込みとグラデーション*/
	background: url(../images/midashi_bg1.png) no-repeat left center, -webkit-linear-gradient(#2b3e72, #101a42);	/*同上*/
	background: url(../images/midashi_bg1.png) no-repeat left center, linear-gradient(#2b3e72, #101a42);			/*同上*/
	-webkit-box-shadow: 1px 2px 5px #CCC;	/*影の設定。それぞれ右へ、下へ、ぼかし幅、色の設定。*/
	box-shadow: 1px 2px 5px #CCC;			/*同上*/
	font-size: 100%;
	color: #FFF;		/*文字色*/
	padding: 7px 15px 7px 30px;	/*左から、上、右、下、左への余白*/
	border-radius: 4px;	/*角丸のサイズ*/
	clear: both;
}
/*mainコンテンツのh3タグの設定*/
#main h3 {
	background-color: #FFF;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#f4f4f4));	/*グラデーション*/
	background-image: -webkit-linear-gradient(#FFF, #e8e8e8);	/*同上*/
	background-image: linear-gradient(#FFF, #e8e8e8);			/*同上*/
	-webkit-box-shadow: 1px 2px 5px #e2e2e2;	/*影の設定。それぞれ右へ、下へ、ぼかし幅、色の設定。*/
	box-shadow: 1px 2px 5px #e2e2e2;			/*同上*/
	font-size: 100%;
	padding: 4px 15px;	/*左から、上下、左右への余白*/
	border-radius: 4px;	/*角丸のサイズ*/
	clear: both;
	border: 1px solid #CCC;	/*枠線の幅、線種、色*/
}
/*mainコンテンツの段落タグ設定*/
#main p {
	padding: 0.5em 15px 1em;	/*左から、上、左右、下への余白*/
}

/*service.html内の製品紹介の各ブロック
---------------------------------------------------------------------------*/
/*各ボックスの設定*/
#main section.list section {
	border: 3px double #CCC;	/*枠線の幅、線種、色*/
	margin-bottom: 15px;	/*ボックスの下に空けるスペース*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#e3e3e3));	/*グラデーション*/
	background-image: -webkit-linear-gradient(#FFF, #e3e3e3);	/*同上*/
	background-image: linear-gradient(#FFF, #e3e3e3);			/*同上*/
	-webkit-box-shadow: 0px 2px 5px #CCC;	/*影の設定。右・下・ぼかし幅・色の設定*/
	box-shadow: 0px 2px 5px #CCC;			/*同上*/
}
#main section.list section a {
	padding: 10px;	/*ボックス内の余白*/
	text-decoration: none;
	display: block;
	overflow: hidden;
}
/*マウスオン時*/
#main section.list section a:hover {
	background-color: #fff;	/*背景色*/
}
/*ボックス内の段落タグ設定*/
#main section.list section p {
	padding: 0px;
	margin-left: 34%;	/*左の写真とのバランスをとって設定*/
}
/*ボックス内の写真設定*/
#main section.list section figure img {
	float: left;			/*画像を左へ回り込み*/
	background-color: #FFF;	/*画像の背景色。ここでは枠線と画像の間の色になります。*/
	padding: 5px;			/*余白。ここに上の行で設定した背景色が出ます。*/
	border: 1px solid #CCC;	/*枠線の幅、線種、色*/
	width: 30%;		/*写真の幅*/
	height: auto;	/*写真の高さ*/
}
/*ボックス内のh4タグ設定*/
#main section.list section h4 {
	padding: 2px 0px 2px 10px;	/*左から、上、右、下、左側への余白*/
	font-size: 100%;
	border-bottom: 1px solid #CCC;	/*下側の線の幅、線種、色*/
	border-left: 3px solid #182659;	/*左側の線の幅、線種、色*/
	margin-bottom: 0.5em;
	color: #182659;	/*文字色*/
}

/*サブコンテンツ
---------------------------------------------------------------------------*/
#sub {
	float: left;	/*左側に回り込み*/
	width: 220px;	/*サブコンテンツ幅*/
	padding-bottom: 30px;
}
/*subコンテンツ内のh2タグ設定*/
#sub h2 {
	font-size: 100%;
	padding: 15px 10px;		/*左から、上下、左右への余白*/
	background: #eee;		/*背景色*/
	border-bottom: 1px solid #d2d2d2;	/*下部の線の幅、線種、色*/
	border-top: 5px solid #182659;		/*上部の線の幅、線種、色*/
}

/*サブコンテンツ内のメニュー
---------------------------------------------------------------------------*/
/*メニュー全体の設定*/
#sub ul.submenu {
	margin-bottom: 15px;			/*メニューブロックの下にあけるスペース*/
}
/*メニュー１個ごとの設定*/
#sub ul.submenu li a {
	border-bottom: 1px solid #d2d2d2;	/*下側の線の幅、線種、色*/
	text-decoration: none;
	display: block;
	padding: 2px 10px;	/*左から、上下、左右への余白*/
}
/*マウスオン時の設定*/
#sub ul.submenu li a:hover {
	background-color: #182659;	/*背景色*/
	color: #fff;				/*文字色*/
}

/*サブコンテンツ内のbox1
---------------------------------------------------------------------------*/
#sub .box1 {
	border: 1px solid #CCC;	/*枠線の幅、線種、色*/
	padding: 10px;			/*ボックス内の余白*/
	margin-bottom: 15px;	/*ボックスの下に空けるのスペース*/
	background-color: #FFF;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#eaeaea));	/*グラデーション*/
	background-image: -webkit-linear-gradient(#FFF, #eaeaea);	/*同上*/
	background-image: linear-gradient(#FFF, #eaeaea);			/*同上*/
	-webkit-box-shadow: 0px 0px 1px #FFF inset;	/*内側への影を右・下・ぼかし幅・距離・色を設定*/
	box-shadow: 0px 0px 0px 1px #FFF inset;		/*同上*/
}

/*フッター設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #FFF;				/*文字色*/
	background-color: #182659;	/*背景色*/
}
footer .pr {
	display: block;
	font-size: 80%;
}
footer a {
	text-decoration: none;
	color: #FFF;
}
footer a:hover {
	color: #FFF;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new{
	margin-bottom: 15px;
}
#new dl{
	overflow: auto;	/*高さ指定を超えるとiframe風にスクロールが出る設定。全部表示させたいならこの行と下のheightの行を削除。*/
	height: 150px;	/*ボックスの高さ*/
	padding-left: 15px;
}
/*日付設定*/
#new dt {
	font-weight: bold;	/*太字にする設定。標準がいいならこの行削除。*/
	float: left;
	width: 8em;
}
/*記事設定*/
#new dd {
	border-bottom: 1px solid #d2d2d2;	/*下線の幅、線種、色*/
	padding-left: 8em;
}
#new dd img {
	vertical-align: middle;
}

/*テーブル１
---------------------------------------------------------------------------*/
.ta1 {
	width: 100%;
}
.ta1, .ta1 td, .ta1 th{
	border: 1px solid #CCC;	/*テーブルの枠線の幅、線種、色*/
	line-height: 2;
}
/*テーブル内の右側*/
.ta1 td{
	padding: 10px;
}
/*テーブル内の左側*/
.ta1 th{
	width: 180px;
	padding: 10px;
	text-align: center;
	background-color: #e2e2e3;	/*背景色*/
}
/*テーブル１行目に入った見出し部分*/
.ta1 th.tamidashi{
	width: auto;
	text-align: left;
	color: #FFF;	/*文字色*/
	background-color: #333;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4b4b4b), to(#333));	/*グラデーション*/
	background-image: -webkit-linear-gradient(#4b4b4b, #333);	/*同上*/
	background-image: linear-gradient(#4b4b4b, #333);			/*同上*/
}
/*テーブルのキャプション設定*/
.ta1 caption{
	padding: 10px;
	border-top: 1px solid #CCC;		/*上側の線の幅、線種、色*/
	border-right: 1px solid #CCC;	/*右側の線の幅、線種、色*/
	border-left: 1px solid #CCC;	/*左側の線の幅、線種、色*/
	text-align: left;
	background-color: #e9ddae;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#efe6c5), to(#e9ddae));	/*グラデーション*/
	background-image: -webkit-linear-gradient(#efe6c5, #e9ddae);	/*同上*/
	background-image: linear-gradient(#efe6c5, #e9ddae);			/*同上*/
	font-weight: bold;	/*文字を太字にする設定*/
}
/*ボタンの設定*/
input[type="submit"],
input[type="button"],
input[type="reset"] {
	width: 250px;	/*ボタン幅*/
	padding: 10px;	/*ボタン内の余白*/
	margin-bottom: 20px;
	border-radius: 30px;	/*角丸のサイズ*/
	background-color: #e5e5e5;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#e5e5e5));	/*グラデーション*/
	background-image: -webkit-linear-gradient(#FFF, #e5e5e5);	/*同上*/
	background-image: linear-gradient(#FFF, #e5e5e5);			/*同上*/
	-webkit-box-shadow: 1px 2px 7px #ccc;	/*影の設定。それぞれ右へ、下へ、ぼかし幅、色の設定。*/
	box-shadow: 1px 2px 7px #ccc;			/*同上*/
	font-size: 16px;	/*文字サイズ*/
	letter-spacing: 0.1em;
	border: 1px solid #999;
}
/*ボタンのマウスオン時の設定*/
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
	background-color: #FFF;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#FFF));	/*グラデーション*/
	background-image: -webkit-linear-gradient(#e5e5e5, #FFF);	/*同上*/
	background-image: linear-gradient(#e5e5e5, #FFF);			/*同上*/
}

/*PAGE TOP設定
---------------------------------------------------------------------------*/
#pagetop {
	clear: both;
}
#pagetop a {
	color: #FFF;		/*文字色*/
	font-size: 10px;	/*文字サイズ*/
	background-color: #182659;	/*背景色*/
	text-decoration: none;
	text-align: center;
	width: 12em;	/*ボックス幅*/
	display: block;
	float: right;
	letter-spacing: 0.1em;	/*文字間隔を少し広めにとる設定。*/
}
/*マウスオン時*/
#pagetop a:hover {
	background-color: #333;	/*背景色*/
	color: #FFF;			/*文字色*/
}

/*その他
---------------------------------------------------------------------------*/
.look {
	background: #dcdcdc;
}
.mb15,
.mb1em {
	margin-bottom: 15px;
}
.clear {
	clear: both;
}
ul.disc {
	padding: 0em 25px 1em;
	list-style: disc;
}
.color1 {
	color: #182659;
}
.pr {
	font-size: 10px;
}
.btn {
	font-size: 13px;
}
.wl {
	width: 96%;
}
.ws {
	width: 50%;
}
.c {
	text-align: center;
}
.r {
	text-align: right;
}
figcaption {
	font-size: 11px;
}
img {
	max-width: 100%;
	height: auto;
}
#menubar_hdr {
	display: none;
}



/*ここからタブレット用（481px～800px）環境の設定
---------------------------------------------------------------------------*/
/*表示を切り替えるウィンドウサイズの指定*/
@media (min-width:481px) and (max-width:800px){

/*ヘッダー（サイト名ロゴが入ったブロック）
---------------------------------------------------------------------------*/
/*h1見出しタグ設定*/
header h1 {
	display: none;
}

/*コンテナー（HPを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	width: auto;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

/*メインメニュー
---------------------------------------------------------------------------*/
nav#menubar {
	border-bottom: 1px solid #d2d2d2;
	overflow: hidden;
}
/*メニュー１個ごとの設定*/
nav#menubar ul li {
	width: 50%;
	border-bottom: none;
	border-left: none;
}
/*奇数番目のメニューの設定*/
nav#menubar ul li:nth-child(odd) {
	border-right: 1px solid #d2d2d2;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/*コンテンツ（main,subを囲むブロック）
---------------------------------------------------------------------------*/
#contents {
	width: auto;
	padding: 30px 10px 10px;
}

/*main,subコンテンツ
---------------------------------------------------------------------------*/
#main, #sub {
	float: none;
	width: auto;
}

/*その他
---------------------------------------------------------------------------*/
/*<body class="s-n">指定の場合にsubブロックを表示させない設定*/
body.s-n #sub {
	display: none;
}

}



/*ここからスマートフォン用（480px以下）環境の設定
---------------------------------------------------------------------------*/
/*表示を切り替えるウィンドウサイズの指定*/
@media (max-width : 480px){

/*ヘッダー（サイト名ロゴが入ったブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	height: auto;
	text-align: center;
}
/*h1見出しタグ設定*/
header h1 {
	display: none;
}
/*ロゴ画像の設定*/
header #logo {
	position: static;
}
header #logo img {
	width: 70%;	/*ロゴ画像の幅*/
	height: auto;
	margin: 10px 0px;
}

/*コンテナー（HPを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	width: auto;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

/*メインメニュー
---------------------------------------------------------------------------*/
nav#menubar {
	border-bottom: 1px solid #d2d2d2;
	overflow: hidden;
}
/*メニュー１個ごとの設定*/
nav#menubar ul li {
	width: 50%;
	border-bottom: none;
	border-left: none;
}
/*奇数番目のメニューの設定*/
nav#menubar ul li:nth-child(odd) {
	border-right: 1px solid #d2d2d2;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/*コンテンツ（main,subを囲むブロック）
---------------------------------------------------------------------------*/
#contents {
	width: auto;
	padding: 30px 10px 10px;
}

/*main,subコンテンツ
---------------------------------------------------------------------------*/
#main, #sub {
	float: none;
	width: auto;
}

/*mainコンテンツ
---------------------------------------------------------------------------*/
/*mainコンテンツの段落タグ設定*/
#main p {
	padding: 0.5em 5px 1em;	/*左から、上、左右、下への余白*/
}

/*service.html内の製品紹介の各ブロック
---------------------------------------------------------------------------*/
/*ボックス内の段落タグ設定*/
#main section.list section p {
	margin-left: 0;
}
/*ボックス内の写真設定*/
#main section.list section figure img {
	float: none;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
section#new h2.open {
	background: url(../images/midashi_bg1.png) no-repeat left center, url(../images/btn_minus.png) no-repeat right center, -webkit-gradient(linear, left top, left bottom, from(#2b3e72), to(#101a42));	/*背景画像とマイナスアイコンとグラデーション*/
	background: url(../images/midashi_bg1.png) no-repeat left center, url(../images/btn_minus.png) no-repeat right center, -webkit-linear-gradient(#2b3e72, #101a42);	/*同上*/
	background: url(../images/midashi_bg1.png) no-repeat left center, url(../images/btn_minus.png) no-repeat right center, linear-gradient(#2b3e72, #101a42);			/*同上*/
}
section#new h2.close {
	background: url(../images/midashi_bg1.png) no-repeat left center, url(../images/btn_plus.png) no-repeat right center, -webkit-gradient(linear, left top, left bottom, from(#2b3e72), to(#101a42));	/*背景画像とプラスアイコンとグラデーション*/
	background: url(../images/midashi_bg1.png) no-repeat left center, url(../images/btn_plus.png) no-repeat right center, -webkit-linear-gradient(#2b3e72, #101a42);	/*同上*/
	background: url(../images/midashi_bg1.png) no-repeat left center, url(../images/btn_plus.png) no-repeat right center, linear-gradient(#2b3e72, #101a42);			/*同上*/
}
/*ブロック全体の設定*/
#new dl {
	height: auto;
	margin: 5px 5px 0px;
}
/*日付設定*/
#new dt {
	float: none;
	width: auto;
}
/*記事設定*/
#new dd {
	padding-left: 0;
}

/*テーブル１
---------------------------------------------------------------------------*/
.ta1 {
	width: 100%;
}
/*テーブル内の右側*/
.ta1 td{
	width: auto;
	padding: 2px;
}
/*テーブル内の左側の見出し部分*/
.ta1 th{
	width: 100px;
	padding: 2px;
}

/*その他
---------------------------------------------------------------------------*/
/*<body class="s-n">指定の場合にsubブロックを表示させない設定*/
body.s-n #sub {
	display: none;
}
/*メニュー折りたたみ設定*/
#top #menubar_hdr {
	display: none;
}
#menubar_hdr {
	display: inline;
	position: absolute;
	top: 0px;
	right: 10px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#e5e5e5));
	background-image: -webkit-linear-gradient(#fbfbfb, #e5e5e5);
	background-image: linear-gradient(#fbfbfb, #e5e5e5);
	padding: 10px;
	border: 1px solid #cfcfcf;
	border-radius: 0px 0px 6px 6px;
}

}
